canvas {
    -webkit-touch-callout: none;
    touch-action: none;
}
#download-options {
    width: 171px;
    height: 23.33px;
    padding: 0;
}
#drawing-board {
    padding: 0px;
    border: 2px solid black;
    display: block;
    width: auto;
    height: auto;
}
#clear-button, #download-button, a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
    width: 111px;
    height: 28.67px;
}