::selection {
    background-color: black;
    color: white;
}
.hidden {display: none;}

#drawing-board {
    /* -webkit-touch-callout: none;
    touch-action: none; */

    padding: 50px;
    margin: auto;
    display: block;
    border: 1px solid black;
    width: 100%;
    height: 100%;
}
#drawing-board:hover {
    border: 2px solid black;
    cursor: pointer;
}

svg {
    cursor: pointer;
    padding: 2px;
    width: 50px;
    height: 50px;
}